.about__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  color: #000;
  transition: opacity 0.4s linear;
  opacity: 1;
}

.about__link:last-child {
  margin-right: 0;
}

.about__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .about__link {
    margin-right: 26px;
  }
}