/* Отладка */

/* 
header, footer, div, main, section, .footer, h1, h2, h3, p, a, ul, li, article, nav, form, input {
  border: red solid 1px;
} */

.root {
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}