.portfolio__link-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
  transition: opacity 0.4s linear;
  opacity: 1;
}

.portfolio__link-text:hover {
  opacity: 0.6;
}

@media screen and (max-width: 828px) {
  .portfolio__link-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 510px) {
  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
  }
}