.search-form__input {
  width: calc(100% - 80px);
  padding: 0 22px 0 10px;
  box-sizing: border-box;
  border: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  outline-color: #2BE080;
  color: #A0A0A0;

}

@media screen and (max-width: 636px) {
  .search-form__input {
    width: calc(100% - 34px);
    padding-right: 10px;
    padding-left: 0px;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}