.project__scale-caption {
  margin: 0;
  padding-top: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 868px) {
  .project__scale-caption {
    padding-top: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 540px) {
  .project__scale-caption {
    padding-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}