.footer__link {
  margin-right: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.4s linear;
  opacity: 1;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .footer__link {
    margin-bottom: 12px;
    margin-right: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }
}