.search-form__row {
  /* min-height: 46px; */
  display: flex;
  padding-bottom: 9px;
  margin-bottom: 29px;
  align-items: center;
  justify-content: center;
}

.search-form__row:nth-child(1) {
  border-bottom: 1px solid #E8E8E8;
}


.search-form__row:last-child {
  border-bottom: none;
  margin: 0;
  padding-bottom: 48px;
}

@media screen and (max-width: 918px) {
  .search-form__row:last-child {
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 636px) {
  .search-form__row {
    margin-bottom: 42px;
  }
  .search-form__row:last-child {
    padding-bottom: 50px;
  }
}