.card__title {
  margin: 18px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 636px) {
  .card__title {
    margin: 14px;
    margin-right: 10px;
    font-size: 12px;
  }
}