.card-list__grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  justify-items: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 918px) {
  .card-list__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 35px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 636px) {
  .card-list__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}