.promo__link {
  padding: 10px 0;
  min-width: 96px;
  background-color: #E8E8E8;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
  transition: background-color 0.4s linear;
}

.promo__link:last-child {
  margin-right: 0;
}

.promo__link:hover {
  background-color: #a8a8a8;
}

@media screen and (max-width: 420px) {
  .promo__link {
    padding: 5px 0;
    min-width: 82px;
    border-radius: 6px;
    margin-right: 6px;
    font-size: 10px;
    line-height: 16px;
  }
}